/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* correct */

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    /*overflow-x: hidden;*/
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *:after, *:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 100%;
}

body {
    font: 500 16px/1.4 'Verdana', sans-serif;
    color: #000;
    background-color: #fff;
}

/* clear */

.clear:before, .clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

/* fin reset CSS */

/* Mobile First */

/* Base Iphone X */

/* Mobile */

@media screen and (min-width: 350px) {
    header {
        display: flex;
        align-items: center;
        height: 90px;
        background-color: #1A71E7;
        font-family: 'Heebo', sans-serif;
    }
    
    header a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        text-align: center;
        margin-right: 5px;
        font-size: 11px;
    }
    
    
    .navbar {
        width: auto;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
    }
    
    .navlogo {
        color: #D1007F;
        font-size: 50px;
    }
    
    #loginbtn {
        background-color: #D1007F;
        font-size: 9px;
        padding: 9px;
        border-radius: 15px;
        margin-right: 0;
    }
    
    .navbar .navlink:hover,#loginbtn:hover {
        text-decoration: underline;
    }
    
    .wrap {
        margin-left: 20px;
        margin-right: 20px;
    }

    .lekip{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    div.whoarewe{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    h2 {
        display: flex;
        width: 424px;
        color: #D1007F;
        text-align: center;
        font-size: 17px;
        margin: 0 auto;
        justify-content: center;
        width: fit-content;
    }
    p.article {
        font-size: 11px;
        text-align: center;
    }
    p.nom {
        font-size: 15px;
        text-align: center;
    }
    p.roleteam {
        font-size: 11px;
        text-align: center;
    }

    .containerEquipe {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .miniContainerEquipe {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #photoProfil {
        width: 65px;
        height: 65px;
        border-radius: 20px;
    }
    .containerCoordonnees {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #1A71E7;
    }
    p.coordonnees {
        font-size: 9px;
        padding: 0 10px 0 10px;
    }

    img.article {
        width: 80px;
        height: 80px;;
        border-radius: 20px;
    }
    h2.article{
        font-size: 12px;
    }
    .containerArticle {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        margin-top: 20px;
        justify-content: center;
    }
    .containerArticle2{
        height: 130px;
    }
    .minicontainerArticle {
        height: 100px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 550px;
    }
    a.boutonarticle {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
        text-decoration: none;
        color: black;
        background-color: #1A71E7;
        padding: 7px;
        border-radius: 15px;
        font-weight: bold;
        font-size: 11px;
    }
    a.boutonarticle:hover {
        text-decoration: underline;
    }
    /* Tablette */
    @media screen and (min-width: 768px) {
    header{
        display: flex;
        justify-content: space-around;
    }
    
    header a {
        color: black;
        font-weight: bold;
        margin-right: 5px;
        font-size: 16px;
    }

    div.navbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
    }

    #loginbtn{
        font-size: 16px;
    }

    .wrap {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        }
        
    h2 {
       color: #D1007F;
        text-align: center;
        font-size: 24px;
    }
    .containerIntro {
        margin-bottom: 50px;
        }
        p.article {
            font-size: 13px;
            text-align: center;
        }
        p.nom {
            font-size: 15px;
            text-align: center;
        }
        p.roleteam {
            font-size: 11px;
            text-align: center;
        }
        .containerEquipe {
            display: flex;
            justify-content: space-around;
        }
        .miniContainerEquipe {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #photoProfil {
            width: 120px;
            height: 120px;
            border-radius: 20px;
        }
        .containerCoordonnees {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: #1A71E7;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        p.coordonnees {
            font-size: 18px;
            padding: 0 10px 0 10px;
        }
        img.article {
            width: 140px;
            height: 100px;
            border-radius: 20px;
        }
        .containerArticle {
            display: flex;
            align-items: flex-end;
        }
        .containerArticle3 {
            margin-bottom: 50px;
        }
        a.boutonarticle {
            text-align: center;
            text-decoration: none;
            color: black;
            background-color: #1A71E7;
        }
    }
}